*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --color-primary:#6c63ff;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #f7c94b;
    background: #d5d2e6;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
a{
    color: black;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.btn{
    display: inline-block;
    background: rgb(215, 126, 10);
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.btn-primary{
    background: rgb(231, 197, 9);
    color: #d5d2e6;
}
nav{
    background: rgb(220, 104, 10);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.window-scroll{
    background: rgb(224, 185, 15);
    box-shadow: 0 1rem 2rem black;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: 0.9rem;
}
.nav_menu a:hover{
    color: aqua;
}
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 90vh;
    margin-bottom: 5rem;
}
.header_container{
    display: grid;
    grid-template-columns: lfr lfr;
    align-items: center;
}
.pp{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.categories{
    background: var(--color-primary);
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.cont_cat{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.con_left p{
margin: 1rem 0 3rem;
}
.con_left{
    margin-right: 4rem;
}
.con_right{
    display: grid;
    grid-template-columns: repeat(3,lfr);
    gap: 1.2rem;
}
category{
    background: purple;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0,0,0.3);
    z-index: 1;
}
.category_icon{
    background: rgb(18, 140, 112);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}
.courses{
    margin-top: 5rem;
}
.container cc{
    display: grid;
    grid-template-columns: repeat(3,lfr);
    gap: 2rem;
}
.course{
    background: #00bf8e;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.course:hover{
    background: transparent;
    background-color: #a89fda;
}
.course_info{
    padding: 2rem;
}
.course_info p{
    margin: 1.2 rem 0 2 rem;
    font-size: 0.9rem;
}
.faqs{
    background: rgb(65, 164, 141);
    box-shadow: inset 0 0 3rem rgba(0, 0,0,0.3);
}
.faqs__container{
    display: grid;
    grid-template-columns: lfr lfr;
    gap: 1rem;
}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq__icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p{
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}
footer{
    background: rgb(115, 115, 120);
    padding-top: 3rem;
    font-size: 0.9rem;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(4, lfr);
    gap: 1rem;
}
.footer__container h4{
    margin-bottom: 1.2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}